NEXT_PUBLIC_API_URL=http://localhost:8000

# Supabase (para el login con Supabase Auth)
NEXT_PUBLIC_SUPABASE_URL=https://pajhjpzydkkpmjdofqqp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_a12A03ddFqaoLWCaNxTTug_tutSB18T   # la PUBLISHABLE/anon (pública), NO la secret
